.idea
target

# Develocity
.mvn/.gradle-enterprise/
/plc4j/tools/ui/application/derby.log

# Source bundle from PLC4C
/plc4c/plc4c/
/plc4j/tools/merlot/org.apache.plc4x.merlot.drv.s7/nbproject/
/plc4j/tools/merlot/org.apache.plc4x.merlot.archiver/nbproject/
/plc4j/tools/merlot/org.apache.plc4x.merlot.db/nbproject/
