################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################
#Server Parameters
#loki.url: Loki server IP address and port
#loki.username: User configured on the Loki server
#loki.password: Password configured on the Loki server

################################################################################
#loki.url=http://127.0.0.1:3100/loki/api/v1/push

# Autenticación (opcional)
#loki.username=loki
#loki.password=loki

# # Topics permitidos (separados por coma). Topicos generales:  merlot/*, phoebus/*, iotdb/*, decanter/*
#loki.topics=decanter/collect/log,decanter/collect/metric,phoebus/data/test,merlot/archiver/test

# Labels estáticas (siempre se añaden)
#loki.label.job=merlot
#loki.label.env=dev
#loki.label.app=plc4x-archiver

# Labels con valores por defecto (pueden ser sobrescritos por el evento)
#loki.label.logLevel=INFO
#loki.label.component=archiver
